/* @import url("https://fonts.googleapis.com/css2?family=Spartan:wght@300;400;500&display=swap"); */

/* * {
  box-sizing: border-box;
}
html {
  overflow-y: scroll;
} */

/* Navigation */
/* nav,
#nav-area {
  background-color: rgb(250, 110, 50);
}
.nav-logo {
  font-family: "Spartan", sans-serif;
  font-size: 24px;
  font-weight: 500;
} */

/* Home */
/* body {
  background-image: url("/main-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
} */

/* #recipe-list {
  margin-top: 8rem;
  max-width: 30rem;
  width: 100%;
} */
